In [3]:
import pandas as pd

In [4]:
data = [10,20,30,40]
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
pd.Series(data, index=['a','b','c','d'])

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
d = {"day1": 420,"day2": 180,"day3": 380,"day4": 390, }

In [7]:
s = pd.Series(d)
print(s)

day1    420
day2    180
day3    380
day4    390
dtype: int64

In [8]:
pd.Series(d,index=['day1','day2'])

day1    420
day2    180
dtype: int64

In [9]:
cal = {'calories': [420, 380, 350,1000,370,250],
       'duration': [50, 45, 35,100,40,30]}
df = pd.DataFrame(cal)
df

   calories  duration
0       420        50
1       380        45
2       350        35
3      1000       100
4       370        40
5       250        30

In [12]:
list(df.shape)

[6, 2]

In [9]:
df.loc[1]

calories    380
duration     45
Name: 1, dtype: int64

In [10]:
df.loc[1:5:2]

   calories  duration
1       380        45
3      1000       100
5       250        30