In [2]:
import pandas as pd

In [3]:
L=["One Geek helps Two Geeks",

"Two Geeks help Four Geeks",

"Each Geek helps many other Geeks at GeeksforGeeks"]

In [6]:
df=pd.DataFrame(L)

In [11]:
df

                                                   0
0                           One Geek helps Two Geeks
1                          Two Geeks help Four Geeks
2  Each Geek helps many other Geeks at GeeksforGeeks

In [10]:
df.to_string()

'                                                   0\n0                           One Geek helps Two Geeks\n1                          Two Geeks help Four Geeks\n2  Each Geek helps many other Geeks at GeeksforGeeks'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes